body {
    margin: 0;
    
}
/*Make everything use border-box*/
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header, section, nav, main, article {
    display: block;
    width: 100vw;
    padding: 15px;
    text-align: center;
}
header {
    background-color: #f59aba;
}
section {
    background-color: #c5c1d6;
}
main {
    background-color: #fff9f1
}
nav {
    background-color: #6f6471;
}

/* BG colors */

.bg-yellow {
    background-color: #e8e844
}
.bg-red {
    background-color: #ed8a8d
}
.bg-purple {
    background-color: #e5bef4
}